<div class="debt-container">

    <div class="item-container">
        <p class="name field">{{debt && debt.name}}</p>
        <p class="description">Nombre</p>
    </div>
        
    <div class="item-container">
        <p class="amount field">${{debt && debt.amount}}</p>
        <p class="description">Precio</p>

    </div>
        
    <div class="item-container">
        <p class="date field">{{debt && debt.date}}</p>
        <p class="description">Fecha</p>

    </div>

   
 
        
   

</div>