<div class="home-container">

    <img src="../../../assets/img/menu-btn.png" alt="menu btn" class="menu" (click)="isMenuOpen = true">
    <app-menu *ngIf="isMenuOpen"></app-menu>

    <div class="welcome-container">

        <h2>¡Hola {{ name ? name : "Usuario"}}!</h2>
        <p class="paragraph">Empezá a registrar tus deudas</p>

    </div>

    <div class="debts-container">

            <p *ngIf="!debts" class="no-debts">Todavía no tenés deudas cargadas</p>
      
            <ng-container *ngIf="debts" > 
                <p>Total: ${{total}}</p>
                <ng-container *ngFor="let debt of debts">
                   
                    <app-debt [debt]="debt"></app-debt>

                </ng-container>
            </ng-container>

    </div>

</div>